body {
  &:before {
    content: '';
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity .4s ease;
    pointer-events: none;
    z-index: 10;
    background-color: $oc-gray-9;
  }
}

body.mn-select-visible {
  overflow: hidden;

  &:before {
    opacity: .6;
    pointer-events: all;
  }
}
