$tickness: 1px;
$focus-tickness: 2px;
$border-color: $oc-red-5;
$label-color: $oc-red-7;

form.submitted mn-select[required]:not(.has-value) {
  box-shadow: 0 $tickness 0 $border-color;

  &:focus {box-shadow: 0 $focus-tickness 0 $border-color}

  &:before {
    color: $label-color;
  }
}
