mn-select {
  menu {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0; left: 0;

    @media (max-width: 767px) {
      display: none;
    }

    @media (min-width: 768px) {
      visibility: hidden;
      opacity: 0;
      min-width: calc(100% + 14px);
      max-height: 16.5em;
      position: absolute;
      overflow: hidden;
      transition: opacity .2s ease;
    }
  }

  .mn-select-option.hidden {
    display: none;
  }

  &.visible {
    menu {
      @media (min-width: 768px) {
        opacity: 1;
        visibility: visible;
        overflow: auto;
      }
    }
  }
}
