mn-select {
  menu {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0; left: 0;

    @media (max-width: 767px) {
      display: none;
    }

    @media (min-width: 768px) {
      visibility: hidden;
      min-width: calc(100% + 14px);
      max-height: 16.5em;
      position: absolute;
      overflow: hidden;
    }
  }


  &.visible {
    menu {
      @media (min-width: 768px) {
        visibility: visible;
        overflow: auto;
      }
    }
  }
}
