mn-select {
  menu {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0; left: 0;

    @media (max-width: 767px) {
      // position: fixed;
      // width: 100vw; height: 100vh;
      // transform: translateY(100vh);
      // transition: transform .2s .21s ease;
      // z-index: 15;
      display: none;
    }

    @media (min-width: 768px) {
      visibility: hidden;
      min-width: 100%;
      max-width: 15em;
      max-height: 16.5em;
      position: absolute;
    }
  }


  &.visible {
    menu {
      // @media (max-width: 767px) {
      //   transform: translateY(0);
      // }

      @media (min-width: 768px) {
        visibility: visible;
      }
    }
  }
}
