mn-select {
  > option {display: none}
  .mn-select-option {
    padding: 0 1em;
    line-height: 3rem;
    transition: background-color .2s ease;
    cursor: pointer;
    -webkit-user-select: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    &:hover, &:focus {
      background-color: $oc-gray-4 !important;
      outline: 0;
    }

    &[selected] {
      background-color: $oc-gray-1;
    }
  }
}
