mn-select {
  > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &[disabled] {
    &:after {
      border-top: .35em solid $oc-gray-4;
    }
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: .35em solid transparent;
    border-right: .35em solid transparent;
    border-top: .35em solid $oc-gray-6;
    z-index: -1;
    position: absolute;
    top: 50%;
    right: .25em;
    transform: translate(0, -50%);
  }

  @media (min-width: 768px) {
    position: relative;
    &.visible {z-index: 15}
  }
}
