html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')


  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-select.css')

  style.
    mn-select {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }
body
  h2 mn-select
  include github-corner

  .mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      mn-form.mn-layout-column.mn-layout-sm-row
        //- mn-select.flex-sm#opt(placeholder='Select')
        mn-select.flex-sm#opt(placeholder='Select' value='{"id":3,"name":"Option 3"}')
          option(value='opt1') Option 1
          option(value='opt2') Option 2
          option(value='{"id":3,"name":"Option 3"}') Option 3

        mn-select.flex-sm(placeholder='Gender')
          option(value='male') Male
          option(value='female') Female

        mn-select.flex-sm(placeholder='House' required)
          option(value='stark') Stark
          option(value='targaryen') Targaryen
          option(value='lannister') Lannister
          option(value='tyrell') Tyrell
          option(value='baratheon') Baratheon
          option(value='bolton') Bolton
          option(value='martell') Martell
          option(value='tully') Tully
          option(value='arryn') Arryn
          option(value='mormont') Mormont
          option(value='greyjoy') Greyjoy
          option(value='frey') Frey
          option(value='forrester') Forrester
          option(value='karstark') Karstark
          option(value='dorne') Dorne

        //- button send
  
  .docs.mn-layout-container
    mn-code.sh.
      npm install --save mn-select

    p And bundle dependencies and main files in <strong>dist/</strong> with your preferred tool.

    h3 usage
    p just use the tag <strong>mn-select</strong> and <strong>option</strong>, e.g.
    mn-code.html.
      <mn-select>
        <option value="#fff">White</option>
        <option value="#000">Black</option>
      </mn-select>

    p To begin with an value, you can use the attribute <strong>selected</strong> in tag option
    mn-code.html.
      <mn-select>
        <option value="#fff">White</option>
        <option value="#000" selected>Black</option>
      </mn-select>

    p Or just use the attribute <strong>value</strong> in mn-select
    mn-code.html.
      <mn-select value="#fff">
        <option value="#fff">White</option>
        <option value="#000">Black</option>
      </mn-select>

    p If you want set the value from javascript, just assign a value to property <strong>value</strong>, e.g.
    mn-code.js.
      document.querySelector('mn-select').value = '#000'
  
  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-select.js')
    script.
      //- var form = document.querySelector('mn-form')
      //- form.onSubmit = function() {
      //-   console.log('submit')
      //- }
      var houses = document.querySelector('mn-select[placeholder="House"]')


