html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')
  link(rel='stylesheet' href='vendor.css')
  link(rel='stylesheet' href='mn-select.css')
  style.
    body {
      font-family: 'Open Sans', sans-serif;
      -webkit-font-smoothing: antialiased;
    }
body
  h1 mn-select
  form
    mn-select#gender(placeholder='Sexo' name='gender')
      option(value='male') Masculino
      option(value='female') Feminino

    input(name='username')

  br

  //- mn-select#whatever(placeholder='Whatever')
    option(value='1' selected) Lorem ipsum
    option(value='2') dolor sit amet lorem lorem dolor sit amet lorem lorem
    option(value='3') lero lero
    option(value='4') bark bark
    option(value='5') lorem dolor
    option(value='opt1') Option 1
    option(value='opt2') Option 2
    option(value='opt3') Option 3
    option(value='opt4') Option 4
    option(value='opt5') Option 5

  br

  //- mn-select#options
    option(value='1') Option 1
    option(value='2') Option 2
    option(value='3') Option 3
    option(value='4') Option 4
    option(value='5') Option 5
  
  script(src='vendor.js')
  script(src='mn-select.js')
  script.
    var form = document.querySelector('form')
    //- var gender = document.querySelector('#gender')
    //- gender.value = 'female'
  //- script.
  //-   document.addEventListener('keyup', function(key) {
  //-     var j = key.which === 74
  //-     var mnSelect = document.querySelectorAll('mn-select')
  //-     mnSelect[1].setValue('male')
  //-   })

