html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans')

  style
    include ../../docs/vendor.css
    include ../../dist/mn-select.css
  
  //- link(rel='stylesheet' href='vendor.css')
  //- link(rel='stylesheet' href='mn-select.css')

  style.
    mn-select {
      font-size: 1.2rem;
    }

    form {width: 100%}

    @media (min-width: 600px) {
      form {
        padding: 100px;
        box-sizing: border-box;
      }
    }
body
  h2 mn-select
  include github-corner

  .layout-fullscreen.layout-centered
    .layout-container
      form.layout-column.layout-sm-row
        mn-select.flex-sm(placeholder='Select')
          option(value='opt1') Option 1
          option(value='opt2') Option 2

        mn-select.flex-sm(placeholder='Gender')
          option(value='male') Male
          option(value='female') Female

        mn-select.flex-sm(placeholder='House')
          option(value='stark') House Stark
          option(value='targaryen') House Targaryen
          option(value='lannister') House Lannister
          option(value='tyrell') House Tyrell
          option(value='baratheon') House Baratheon
          option(value='bolton') House Bolton
          option(value='martell') House Martell
          option(value='tully') House Tully
          option(value='arryn') House Arryn
          option(value='mormont') House Mormont
          option(value='greyjoy') House Greyjoy
          option(value='frey') House Frey
          option(value='forrester') House Forrester
          option(value='karstark') House Karstark
          option(value='from') Houses from the North
          option(value='from') Houses from the Vale
          option(value='lannister') House Lannister
          option(value='from') Houses from Dorne
          option(value='targaryen') House Targaryen
          option(value='stark') House Stark
          option(value='bolton') House Bolton
          option(value='baratheon') House Baratheon

  script
    include ../../docs/vendor.js
    include ../../dist/mn-select.js

  //- script(src='vendor.js')
  //- script(src='mn-select.js')

