extends demo

block styles
  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-select/master/docs/vendor.css')
  link(rel='stylesheet' href='https://rawgit.com/minimalist-components/mn-select/master/dist/mn-select.css')

block scripts
  script(src='https://rawgit.com/minimalist-components/mn-select/master/docs/vendor.js')
  script(src='https://rawgit.com/minimalist-components/mn-select/master/dist/mn-select.js')
